$bg-color: #282C34;

.Home {
    color: skyblue;
    text-align: center;
    position: absolute;
    width: 100%;
    height:100vh;
    background-color: $bg-color;
    overflow: hidden;

    #header {
      width: 100%;
      height: 15vh;
    }

    #test {
      width: 100%;
      background-color: white;
    }

    nav {
      a {
        padding-left:10px;
        padding-right:10px;
      }
    }

}

// #detailView {
//   width: 65%;
//   height: 85vh;
//   padding: 5% 0;
//   background-color: #282C34;
//   border-style: solid;
//   border-width: 1px;
//   border-color: skyblue;
//   float: right;
//   overflow: scroll;
// }
